.login_left_logo {
  position: absolute;
  left: 60px;
  top: 40px;
}

.login_right {
  width: 32.552%;
  display: flex;
  align-items: center;
}

.login_left_components {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 530px;
  gap: 10px;
}

.login_left_components_item {
  border-radius: 8.91px;
  background-color: #ffffff1a;

  display: flex;
  align-items: center;
  flex-direction: column;

  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.3799999952316284px;
  color: #ffffff;

  padding-bottom: 15px;
}

.login_left_components_item > svg {
  margin-top: 40px;
}

.login_left_components_item > p {
  margin-top: 15px;
  text-align: center;

  font-family: Manrope;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.3799999952316284px;
}

@media screen and (max-width: 1600px) {
  .login_left_logo svg{
    width: 120px;
  }

  .login_left_components {
    width: 450px;
  }

  .login_left_components_item > p {
    font-size: 16px;
    line-height: 20px;
  }

  .login_left_components_item > svg {
    margin-top: 30px;
  }
}
