.account {
  /* margin-top: 40px; */
  display: flex;
  width: 100%;
  height: 80vh;
}

.account_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.account_header_btn {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.035em;
  text-align: center;
}

/*    FILTERS STYLES   */

.account_header_filters {
  display: flex;

  gap: 20px;
  align-items: center;
}

.home_main_transactions_filterBtn {
  display: flex;
  justify-content: space-between;

  align-items: center;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  padding: 10px;
  border: 1px solid #d2d0d0;
  border-radius: 5px;
  position: relative;
  background-color: #eeeeee99;
}

.home_main_transactions_filterBtn:last-child {
  margin-left: 20px;
}

.home_main_transactions_filterBtn > p {
  margin-left: 10px;
  margin-right: 16px;
}

.home_main_transactions_filterBtn > span {
  margin-right: 118px;
}

.home_main_transactions_filterBtn_icon {
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  transform: rotate(180deg);
  position: relative;
}

.home_main_transactions_filterBtn_icon_active {
  transform: rotate(360deg);
}

.home_main_transactions_filterBtn_icon_date_modal {
  background-color: white;
  position: absolute;
  z-index: 10;
  border-radius: 8.91px;
  box-shadow: 0px 10px 60px 0px #0000001a;
  padding: 8px 4px;
  top: 50px;
  left: 0;
}

.home_main_transactions_filterBtn_icon_date_modal_btn {
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 7px 16px;
  width: 245px;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23999999463558197px;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 2px;
}

.home_main_transactions_filterBtn_icon_date_modal_btn_active {
  background-color: #ede7f3;
}

.home_main_transactions_filterBtn_icon_date_modal_btn_icon {
  display: none;
}

.home_main_transactions_filterBtn_icon_date_modal_btn_icon_active {
  display: flex;
}

.home_main_transactions_filterBtn_icon_date_modal_line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #eeeeee;
}

.home_main_transactions_filterBtn_icon_date_modal_date {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;
  width: 245px;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23999999463558197px;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 8px;
}

.home_main_transactions_filterBtn_icon_date_modal_btns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0 16px;

  width: 245px;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23999999463558197px;
  border-radius: 5px;
  background-color: transparent;
  margin-top: 8px;
}

.home_main_transactions_filterBtn_icon_date_modal_btns > button {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
}

.home_main_transactions_filterBtn_icon_date_modal_btns > button:first-child {
  color: #956fb9;
  background-color: transparent;
}

.account_table_head {
  padding: 0 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: 19.66% 17.7% 18% 20.7% 9.3% 16.16%;
  /* grid-template-columns: 20.66% 16.99% 17.47% 19.83% 8.89% 16.16%; */
  background-color: #eeeeee99;
  margin-top: 20px;
  border-radius: 2px;
}

.account_table_head_item {
  font-family: Manrope;
  font-size: 11px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0.06599999964237213px;
  color: #342c2c;
}

.account_table_body {
}

.account_table_body_item {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #342c2c;

  display: grid;
  /* grid-template-columns: 20.66% 16.99% 17.47% 19.83% 8.89% 13.04% 15px; */
  grid-template-columns: 19.66% 17.7% 18% 20.7% 9.3% 13.5% 20px;

  margin-top: 10px;
  padding: 12px 30px;
  border-bottom: 1px solid #eeeeee;
  position: relative;
}

.account_table_body_item:hover {
  background: linear-gradient(0deg, #eeeeee, #eeeeee),
    linear-gradient(0deg, rgba(238, 238, 238, 0.6), rgba(238, 238, 238, 0.6));
}

.account_table_body_item_element > span {
  color: #a5a1a1;
}

.account_table_body_item_element_icon {
  cursor: pointer;
  display: flex;
  justify-self: center;
  align-items: center;
}

.account_table_body_item_element_icon_modal {
  box-shadow: 0px 10px 20px 0px #0000001a;
  border-radius: 8.91px;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23999999463558197px;
  text-align: left;

  padding: 8px 4px;
  background-color: white;

  position: absolute;
  z-index: 5;
  top: 90%;
  right: 0px;
}

.account_table_body_item_element_icon_modal > div {
  padding: 7px 16px;
  border-bottom: 1px dashed #eeeeee;
  width: max-content;
}

.account_table_body_item_element_icon_modal > div:last-child {
  border-bottom: none;
}

.rekvizit_frame {
  border-bottom: 1px solid #eeeeee;
  padding: 20px 30px 10px;
}

.rekvizit_frame_item {
  display: grid;
  grid-template-columns: 30% 70%;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  text-align: left;

  border-bottom: 1px dashed #eeeeee;
  padding: 7px 0;
}

.rekvizit_frame_item:last-child {
  border: none;
}

.rekvizit_frame_item_title {
  color: #a5a1a1;
}

.rekvizit_frame_item_data {
  color: #342c2c;
}

.rekvizit_actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px 12px;
}

.rekvizit_actions_btns {
  display: flex;
  gap: 20px;
}

.rekvizit_actions_btns_content {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
}
