.login {
  display: flex;
  height: 100vh;
}

.login_left {
  width: 67.448%;
  background: url("../../../public/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login_right {
  width: 32.552%;
  display: flex;
  align-items: center;
  position: relative;
}

.login_right_top {
  top: 40px;
  right: 60px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

.login_right_top > div {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: Manrope;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: left;
}

.login_right_bottom {
  display: flex;
  gap: 35px;
  position: absolute;
  bottom: 60px;
  right: 60px;
  font-family: Manrope;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: center;
}

.login_right_middle,
.login_right_middle_message {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 443px;
  margin-left: 90px;
}

.login_right_middle_main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login_right_middle_access_btns {
  display: flex;
  gap: 8px;
}

.login_right_middle_access_btns button {
  width: 100%;
}

.login_right_middle_message {
  gap: 45px;
}

.login_right_middle_message_main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.login_right_middle_message_main > p {
  text-align: center;
}

.login_right_middle > h4 {
  font-family: Manrope;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.3499999940395355px;
  /* text-align: center; */
}

.login_right_middle_header,
.login_right_middle_message_header {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.3799999952316284px;
  text-align: left;
  color: #000000;
  /* margin-bottom: 30px; */
}

.login_right_middle_message_header {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.login_right_middle_texts {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
  color: #777373;
}

.login_right_middle_texts span {
  color: #4e0f8a;
}

.login_right_middle_btn {
  background-color: #4e0f8a;
  border: none;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.035em;
  text-align: center;
  color: #ffffff;
  padding: 8px 0;
  border-radius: 5px;

  transition: 0.5s ease;
}

.login_right_middle_btn:hover {
  background-color: #602796;
}

.login_right_middle_btn_unactive {
  background-color: #e8e8e8;
  color: #777373;
}

/* .login_right_middle_input {
  padding: 8px 10px;
  background-color: #eeeeee99;
  border-radius: 5px;
  border: 1px solid #d2d0d0;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  height: 40px;
} */

/* .login_right_middle_input:nth-child(2){
  margin-bottom: 45px;
}

.login_right_middle_input:last-child input{
  margin-left: 0;
} */

.login_right_middle_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.login_right_middle_input input {
  outline: none;
  border: none;
  background-color: transparent;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  flex-grow: 1;
  text-align: left;
}

.login_right_middle_input_error {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
  margin-top: 8px;
  color: #d23232;
}

@media screen and (max-width: 1600px) {
  .login_right_top {
    top: 20px;
  }

  .login_right_top > div {
    font-size: 14px;
    gap: 10px;
  }

  .login_right_middle,
  .login_right_middle_message {
    margin: 0 auto;
    width: 320px;
  }

  .login_right_middle > h4,
  .login_right_middle_message > h4 {
    font-size: 14px;
  }

  .login_right_bottom {
    bottom: 20px;
    font-size: 14px;
  }

  .register_middle_btns button {
    font-size: 12px;
  }
}
