.myInput {
  height: 40px;
  width: 100%;
  background-color: #eeeeee99;
  border: 1px solid #d2d0d0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  font-family: Manrope;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  text-align: left;
}

.myInput_invalid {
  border-color: #ff8888;
}

.error {
  margin-top: 8px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
  color: #d23232;
}

@media screen and (max-width: 1500px) {
  .error {
    font-size: 12px;
  }
}
