.table {
  margin-top: 20px;
}

.table_header {
  background: #eeeeee99;
  font-family: Manrope;
  font-size: 11px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0.06599999964237213px;
  color: #342c2c;

  display: grid;
  grid-template-columns: 19.3% 35.9% 22% 22.5%;
  padding: 5px 30px;
  border-radius: 2px;
}

.table_item_main {
  display: grid;
  align-items: center;
  grid-template-columns: 19.3% 35.9% 22% 22.5%;
  padding: 12px 30px;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #342c2c;
  border-bottom: 1px solid #eeeeee;
}

.table_item_main_active {
  margin-top: 10px;
  background-color: #eeeeee99;
}

.table_item_name {
  display: flex;
  align-items: center;
  gap: 30px;
}

.table_item_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table_item_actions_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.table_item_actions_status {
  width: 5px;
  height: 5px;
  background-color: #1ab759;
  border-radius: 50%;
}

.table_item_actions_status_banned {
  width: 5px;
  height: 5px;
  background-color: #d23232;
  border-radius: 50%;
}

.table_item_modal {
  background-color: #eeeeee99;
  padding: 30px;
  padding-bottom: 12px;
  padding-top: 16px;
  display: grid;
  grid-template-columns: 47% 53%;
}

.table_item_modal_right {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.table_item_modal_right_btn {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  color: #342c2c;
}

.table_item_modal_left {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #342c2c;
  padding-left: 60px;
}

.table_item_modal_left_title {
  padding: 5px 0;
}

.table_item_modal_left_item {
  display: grid;
  grid-template-columns: 35% 65%;
  padding: 7px 0;
  border-bottom: 1px dashed #e8e8e8;
}

.table_item_modal_left_item:last-child {
  border: none;
}

.table_item_modal_left_item_gray {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #a5a1a1;
}

.table_item_modal_left_item_black {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #342c2c;
}

.edit_modal {
  padding: 30px;
}

.edit_modal_item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  width: 600px;
  margin-right: 150px;
  height: 55px;
  border-bottom: 1px dashed #eeeeee;
}

.edit_modal_item_forAdd {
  border-bottom: none;
}

.edit_modal_item:last-child {
  border: none;
}

.edit_btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding: 10px 30px 12px;
  border-top: 1px solid #eeeeee;
}

.edit_btns_btn {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
}





/* DOLJNOST TOGGLER STYLES */

.accounts_input {
  min-width: 280px;
}

.accounts_input {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  text-align: left;
  color: #342c2c;
  border: 1px solid #d2d0d0;
  background-color: #eeeeee99;
  padding: 11px 10px;
  border-radius: 5px;
  position: relative;
}

.accounts_input_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accounts_input_main_texts {
  display: flex;
  align-items: center;
}

.accounts_input_main_texts_span {
  width: 5px;
  height: 5px;
  background-color: #777373;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 6px;
}

.accounts_input_main_icon {
  transition: 0.5s ease;
}

.accounts_input_main_icon_active {
  transition: 0.5s ease;
  transform: rotate(180deg);
}

.accounts_input_modal {
  width: calc(100%);
  padding: 8px 4px;
  position: absolute;
  background-color: white;
  z-index: 30;
  top: calc(100% + 10px);
  left: 0;
  border-radius: 8.91px;
  box-shadow: 0px 10px 60px 0px #0000001a;
}

.accounts_input_modal_search {
  display: flex;
  padding: 10px;
  background-color: #eeeeee99;
  border-radius: 5px;
  margin-bottom: 16px;
}

.accounts_input_modal_search input {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  text-align: left;
  color: #342c2c;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  flex-grow: 1;
}

.accounts_input_modal_item {
  padding: 7px 16px;
  border-bottom: 1px dashed #eeeeee;
}

.accounts_input_modal_item:last-child {
  border: none;
}

.accounts_input_modal_item_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accounts_input_modal_btns {
  padding: 8px 16px;
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.accounts_input_modal_btns_btn {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #956fb9;
  width: 100px;
  padding: 8px 0;
  border-radius: 5px;
}

.accounts_input_modal_btns_btn_gray {
  background-color: #e8e8e8;
  color: #342c2c;
  margin-left: 10px;
}

.accounts_input_modal_item_modal_item {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #342c2c;
  padding: 6px 16px;
  border-radius: 5px;
  /* border-bottom: 1px dashed #eeeeee; */
}

/* .accounts_input_modal_item_modal_item:first-child{
  border-bottom: 1px solid #eeeeee;

} */

.accounts_input_modal_item_modal_item:hover {
  background-color: #ede7f3;
  border-color: #ede7f3;
}

.accounts_input_modal_item_modal_item_active {
  background-color: #ede7f3;
  padding: 7px 16px;
}

.accounts_input_modal_item_modal_item > p {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06599999964237213px;
  color: #777373;
}

@media screen and (max-width: 1450px) {
  .accounts_input {
    min-width: 200px;
  }
}
