.myInput{
    height: 40px;
    width: 100%;
    background-color: #EEEEEE99;
    border: 1px solid #D2D0D0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.myInput{
    border-color: #FF8888;
}