.profile {
  /* margin-top: 40px; */
  width: 100%;
}

.profile_cards {
  display: flex;
  gap: 30px;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px; */
}

.profile_cards_left,
.profile_cards_right {
  width: 100%;
}

.profile_cards_left_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profile_cards_left_btns_btn {
  display: flex;
  gap: 16px;
  align-items: center;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
}

.profile_cards_left_black {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #342c2c;
}

.profile_cards_left_gray {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #a5a1a1;
}

.profile_cards_left_data_item {
  display: grid;
  grid-template-columns: 32.5% 67.4%;
  border-bottom: 1px dashed #eeeeee;
  padding: 7px 0;
}

.profile_cards_left_data_item:last-child {
  border: none;
}

.profile_cards_right_lang {
  display: flex;
  gap: 30px;
}

.profile_cards_right_lang,
.profile_cards_left_data_item_sms {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #1d1515;
}


.profile_cards_left_data_item_sms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  text-align: left;
  color: #1d1515;
  row-gap: 30px;
}

.profile_table {
  margin-top: 30px;
}

.profile_cards_right_label_last{
  width: 200%;
}

.profile_table_title {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #342c2c;
  padding: 5px 0;
  width: 100%;
}

.profile_table_data {
  margin-top: 15px;
}

.profile_table_header {
  background-color: #eeeeee99;
  border-radius: 2px;
  padding: 5px 0 5px 0;
  display: grid;
  /* grid-template-columns: 331px 604px 417px; */
  grid-template-columns: 28.1% 40.2% 29.1%;
  /* 
  1442px
    420px
    600px
    420px
    363 + 54 = 419


    421px
    604px
    417px
    */
}



.profile_table_header > div {
  font-family: Manrope;
  font-size: 11px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0.06599999964237213px;
  color: #342c2c;
}

.profile_table_header > div:first-child{
  padding-left: 90px;
}

.profile_table_item {
  display: grid;
  /* grid-template-columns: 421px 6 4px 1fr; */
  grid-template-columns: 28.1% 40.2% 29.1%;

  align-items: center;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #342c2c;
  border-bottom: 1px solid #eeeeee;
}

.profile_table_item_date {
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile_table_item_date_nums {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 125px;
}

.profile_table_item_date_nums h3 {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #342c2c;
}

.profile_table_item_date_nums span {
  width: 5px;
  height: 5px;
  background-color: #d2d0d0;
  border-radius: 50%;
}

.profile_table_item_name {
  padding: 12px 0;
  display: flex;
  align-items: center;
  padding-left: 30px;
  gap: 30px;
}

/* MODAL STYLES */

.edit_modal {
  padding: 30px;
}

.edit_modal_item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  width: 600px;
  margin-right: 150px;
  height: 55px;
  border-bottom: 1px dashed #eeeeee;
}

.edit_modal_item:last-child {
  border: none;
}

.edit_btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding: 10px 30px 12px;
  border-top: 1px solid #eeeeee;
}

.edit_btns_btn {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
}

.table_item_modal_left_item_gray {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #a5a1a1;
}

.table_item_modal_left_item_black {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #342c2c;
}


.profile_cards_right_label{
  display: flex;
  gap: 10px;
  align-items: center;
}


/* RADIO INPUT STYLES TO CHANGE APPERANCE */


.profile_cards_right_label input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 22px;
  height: 22px;
  border: 0.15em solid #D2D0D0;
  border-radius: 50%;
  transform: translateY(-0.075em);
  
  display: grid;
  place-content: center;
  /* background-color: #4e0f8a; */
}

.profile_cards_right_label input[type="radio"]::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;

  background-color: #fff;
}

.profile_cards_right_label input[type="radio"]:checked::before {
  transform: scale(1);
  /* background-color: #4e0f8a;
  border-color: #4e0f8a; */
}

.profile_cards_right_label input[type="radio"]:checked{
  background-color: #4e0f8a;
  border-color: #4e0f8a;
}

/* CHECKBOX INPUT STYLES TO CHANGE APPERANCE */

.profile_cards_right_label input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 22px!important;
  height: 22px!important;
  border: 0.15em solid #D2D0D0;
  border-radius: 4px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.profile_cards_right_label input[type="checkbox"]::before {
  /* background-color: #4e0f8a; */
  content: url(../../public/Vector.svg);
  transition: 120ms transform ease-in-out;
  
  /* width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%; */
  /* position: absolute;
  z-index: 10;
  top: 0;
  left: 0; */
}

.profile_cards_right_label input[type="checkbox"]:checked {
  background-color: #4e0f8a;
  border-color: #4e0f8a;
}