.section {
  color: black;
  display: grid;
  grid-template-columns: 18.12% 81.88%;
}

.section_side_bar{
  position: relative;
}

.section_side_bar_container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.home {
  background-color: #eeeeee;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
/* margin-left: 18.12% ; */
}

.home_container {
  margin-left: 30px;
  margin-right: 60px;
  margin-top: 41px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:1800px) {
  .home{
    overflow-y: auto;
  }

  .home_container{
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 15px;
    margin-bottom: 30px;
  }
}