.confirm {
    margin-top: 40px;
    width: 80%;
  }
  
  .confirm_headers {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }
  
  .create_header_btn {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .confirm_body {
    width: 606px;
  }
  
  .confirm_body_item {
    margin-top: 20px;
  }
  
  .confirm_body_item_text {
    display: grid;
    grid-template-columns: 210px 1fr;
    padding: 7px 0;
    border-bottom: 1px dashed #eeeeee;
  }
  
  .confirm_body_item_text:last-child {
    border-bottom: 0;
  }
  
  .confirm_body_item_text_left {
    font-family: Manrope;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.07800000160932541px;
    text-align: left;
    color: #a5a1a1;
  }
  
  .confirm_body_item_title,
  .confirm_body_item_text_right {
    font-family: Manrope;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.07800000160932541px;
    color: #342c2c;
  }
  
  .confirm_body_item_title {
    padding: 5px 0;
  }
  
  .edit_wrapper_left_btn {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 40px;
  }
  