.transaction {
  /* margin-top: 40px; */
  min-width: 80vh;
}

/* .transaction_wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr ;
} */

.transaction_table {
  margin-top: 20px;
}

.transaction_table_item {
  padding: 12px 30px;
  display: grid;
  grid-template-columns: 19.4% 66.4% 14.2%;
  border-bottom: 1px solid #eeeeee;
}

/* .transaction_table_item:last-child{
  border: none;
} */

.transaction_table_item_active {
  background-color: #eeeeee99;
}

.transaction_table_item_left {
  display: flex;
  gap: 30px;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  /* text-align: center; */
  color: #342c2c;
}

.transaction_table_item_left span {
  color: #a5a1a1;
}

.transaction_table_item_middle {
  flex-direction: column;
  gap: 4px;
  font-weight: 400;
}

.transaction_table_item_right {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  text-align: center;
  color: #2dc28d;
}

.transaction_table_item_right span {
  color: #777373;
}

.transaction_table_item_right > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  color: #1d1515;
}

.transaction_table_item_right > div > span {
  color: #1d1515;
  position: relative;
}

.transaction_table_item_right > div > span::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #1ab759;
  position: absolute;
  top: calc(50% - 2px);
  left: -10px;
  border-radius: 50%;
}

.transaction_table_item_accordion {
  background-color: #eeeeee99;
  padding: 16px 30px;

  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #342c2c;

  /* display: grid;
  grid-template-columns: 45.84% 48.55%;
  gap: 78px; */
  display: flex;
  justify-content: space-between;
  gap: 65px;
  padding-left: 90px;
}

.transaction_table_item_accordion_header {
  display: flex;
  justify-content: flex-end;
}

.transaction_table_item_accordion_header_btns {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: flex-start;
  height: fit-content;
  justify-content: flex-end;
}

.transaction_table_item_accordion_header_btns button {
  font-size: 12px;
}

.transaction_table_item_accordion_header_btns div {
  display: flex;
  gap: 16px;
  align-items: center;
}


.transaction_table_item_accordion_body{
  width: 600px;
}

.transaction_table_item_accordion_body_item{
  margin-top: 30px;
}

.transaction_table_item_accordion_body_th{
  padding: 5px 0;
}

.transaction_table_item_accordion_body_col {
  display: grid;
  grid-template-columns: 210px 2fr;
  border-bottom: 1px dashed #e8e8e8;
  padding: 7px 0;
}

.transaction_table_item_accordion_body_col:last-child{
  border: none;
}

.transaction_table_item_accordion_body_col h4 {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  text-align: left;

  color: #a5a1a1;
}


/* 
  210
  606
*/



/* START FILTER STYLES */

.transaction_header {
  display: flex;

  gap: 20px;
  align-items: center;
}

.home_main_transactions_filterBtn {
  display: flex;
  justify-content: space-between;

  align-items: center;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  padding: 10px;
  border: 1px solid #d2d0d0;
  border-radius: 5px;
  position: relative;
  background-color: #EEEEEE99;
}

.home_main_transactions_filterBtn > p {
  margin-left: 10px;
  margin-right: 16px;
}

.home_main_transactions_filterBtn > span {
  margin-right: 118px;
}

.home_main_transactions_filterBtn_icon {
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  transform: rotate(180deg);
  position: relative;
}

.home_main_transactions_filterBtn_icon_active {
  transform: rotate(360deg);
}

.home_main_transactions_filterBtn_icon_date_modal {
  background-color: white;
  position: absolute;
  z-index: 10;
  border-radius: 8.91px;
  box-shadow: 0px 10px 60px 0px #0000001a;
  padding: 8px 4px;
  top: 50px;
  right: 0;
  z-index: 100;
}

.home_main_transactions_filterBtn_icon_date_modal_btn {
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 7px 16px;
  width: 245px;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23999999463558197px;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 2px;
}

.home_main_transactions_filterBtn_icon_date_modal_btn_active {
  background-color: #ede7f3;
}

.home_main_transactions_filterBtn_icon_date_modal_btn_icon {
  display: none;
}

.home_main_transactions_filterBtn_icon_date_modal_btn_icon_active {
  display: flex;
}

.home_main_transactions_filterBtn_icon_date_modal_line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #eeeeee;
}


.home_main_transactions_filterBtn_icon_date_modal_date {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;
  width: 245px;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23999999463558197px;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 8px;
}

.home_main_transactions_filterBtn_icon_date_modal_btns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0 16px;

  width: 245px;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23999999463558197px;
  border-radius: 5px;
  background-color: transparent;
  margin-top: 8px;
}

.home_main_transactions_filterBtn_icon_date_modal_btns > button {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
}

.home_main_transactions_filterBtn_icon_date_modal_btns > button:first-child {
  color: #956fb9;
  background-color: transparent;
}

.account_table_head {
  padding: 0 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: 20.66% 16.99% 17.47% 19.83% 8.89% 16.16%;
  background-color: #eeeeee99;
  margin-top: 20px;
  border-radius: 2px;
}

@media screen and (max-width:1500px) {
  .transaction_table_item_right > div{
    align-items: center;
  }
}

/* END FILTER STYLES */
