.home{
    padding-left: 1px;
}

.home_cards{
    width: 100%;
    display: grid;
    grid-template-columns: 36% 61.9%;
    justify-content: space-between;
}

/* 
    1482px
    534px
    918px
*/

.home_cards_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}