.section {
  color: black;
  display: flex;
}

/* SIDE BAR STYLES  */

.sidebar {
  height: 100vh;
  color: white;
  width: 18.12%;
  background-color: blue;
  background: url("../../public/login_left.png");
}

.sidebar_container {
  margin-left: 60px;
  margin-right: 30px;
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.company_name {
  /* border: 1px solid; */
  border-radius: 8.91px;
  padding: 10px;
  margin-top: 55px;
  margin-bottom: 38px;
  border: 1px solid #ffffff40;
  background-color: rgba(255, 255, 255, 0.078);
}

.company_name > p {
  margin: 0;
  font-family: Manrope;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.40799999237060547px;
  text-align: left;
}

.company_name_actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.company_name_actions > p {
  margin: 0;
  margin-bottom: 10px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
}

.company_name_list {
  display: none;
  transition: 0.5s ease;
  border-top: 1px solid #ffffff33;
  margin-top: 8px;
}

.company_name_list > div {
  padding-top: 16px;
  padding-left: 16px;
}

.company_name_list_active {
  display: flex;
  flex-direction: column;
}

.sidebar_menu_wrapper {
  list-style: none;
  padding: 0;
}

.sidebar_menu_wrapper li {
  display: flex;
  align-items: center;
  padding: 21px 0;
  font-family: Manrope;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.40799999237060547px;
  text-align: left;
}

.sidebar_menu_wrapper li:last-child {
  margin-top: 38px;
}

.sidebar_menu_wrapper > li > p {
  margin: 0;
}

.sidebar_menu_wrapper > li > p {
  margin-left: 16px;
}

.sidebar_bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.sidebar_bottom_item > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar_bottom_item p {
  margin: 0;
}

/* HOME PART STYLES */
/* .home {
  flex-grow: 1;
  background-color: #eeeeee;
  height: 100vh;
} */

.home_container {
  margin-left: 30px;
  margin-right: 60px;
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}

/* NAVBAR STYLES */

.home_navbar_wrapper {
  border-bottom: 1px solid #d2d0d0;
  padding-bottom: 18px;
  display: flex;
  justify-content: flex-end;
}

.home_navbar_wrapper_right {
  display: flex;
}

.home_navbar_profile,
.home_navbar_ring {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.3799999952316284px;
  text-align: left;

  box-shadow: 0px 10px 20px 0px #0000001a;
  width: 54px;
  height: 54px;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8.91px;
}

.home_navbar_profile {
  margin-left: 20px;
  margin-right: 16px;
}

.home_navbar_toggle_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}

.home_navbar_toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.home_navbar_toggle_image {
  position: absolute;
  left: -275px;
  top: 65px;
  display: none;
  transition: 0.5s ease;
}

.home_navbar_toggle_image_active {
  display: flex;
}

.home_navbar_toggle_active {
  transform: rotate(180deg);
}

.home_navbar_balance_in_usd,
.home_navbar_balance_in_uzs {
  padding: 8px 16px 10px;
  background-color: white;
  /* margin-left: 20px;
    margin-right: 60px; */
  box-shadow: 0px 10px 20px 0px #0000001a;
  border-radius: 8.91px;
}

.home_navbar_balance_in_uzs {
  margin-left: 20px;
  margin-right: 60px;
}

.home_navbar_balance_in_usd:last-child {
  margin-left: 20px;
  margin-right: 60px;
}

.home_navbar_balance_in_usd_wrapper,
.home_navbar_balance_in_uzs_wrapper {
  border-left: 2px solid #ff8888;
  padding-left: 10px;
}

.home_navbar_balance_in_uzs_wrapper {
  border-color: #ffbc1f;
  /* #FFBC1F */
}

.home_navbar_balance_in_usd_wrapper > h4,
.home_navbar_balance_in_usd_wrapper > p,
.home_navbar_balance_in_uzs_wrapper > h4,
.home_navbar_balance_in_uzs_wrapper > p {
  margin: 0;
}

.home_navbar_balance_in_usd_wrapper > h4,
.home_navbar_balance_in_uzs_wrapper > h4 {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.23999999463558197px;
}

.home_navbar_balance_in_usd_wrapper > p,
.home_navbar_balance_in_uzs_wrapper > p {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #777373;
}

/* MAIN SECTION HEADER PART */

.home_main {
  /* height: 70vh; */
  /* padding-bottom: 40px; */
}

.home_main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0 30px;
}

.home_main_header_texts > h4,
.home_main_header_texts > p {
  margin: 0;
}

.home_main_header_texts > h4 {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.3799999952316284px;
  margin-bottom: 10px;
}

.home_main_header_texts > p {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
}

.mainBtn {
  display: flex;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 5px;
  background-color: #4e0f8a;
  color: white;

  font-family: Manrope;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.035em;
  /* text-align: center; */
  padding: 13px 49px;

  display: flex;
  align-items: center;
  gap: 16px;
  transition: 0.5s ease;
  border: none;
}

.mainBtn:hover {
  background-color: #602796;
}

/* HOME MAIN PART */

.home_main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 36.03% 61.94%;
  gap: 30px;
  /* 
    1482px  
    534px
    918px
  */
  /* height: 73vh; */
  /* overflow-y: auto; */
}

/* .home_main_left {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 56.4% 30.7%;
  gap: 30px;
} */

.home_main_left {
  width: 100%;
  height: 785px;
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 56.4% 30.7%; */

  /* 
    506px
    249px
    785px
  */

  gap: 31px;
}

.home_main_account,
.home_main_documents {
  border-radius: 8.91px;
  background-color: white;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0px 10px 20px 0px #0000001a;
}

.home_main_transactions {
  padding: 20px;
  width: 100%;
  height: 785px;
  background-color: white;
  border-radius: 8.91px;
  box-shadow: 0px 10px 20px 0px #0000001a;
}

.home_main_transactions_filters {
  display: flex;
  justify-content: space-between;
}

.home_main_transactions_filters_btns {
  display: flex;
  padding-bottom: 20px;
}

.home_main_account_title {
  font-family: Manrope;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.40799999237060547px;
  margin: 0;
  margin-bottom: 20px;
}
.home_main_transactions_filterBtn {
  display: flex;

  justify-content: space-between;
  align-items: center;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  padding: 10px;
  border: 1px solid #d2d0d0;
  border-radius: 5px;
  position: relative;
}

.home_main_transactions_filterBtn:last-child {
  margin-left: 20px;
}

.home_main_transactions_filterBtn > p {
  margin-left: 10px;
  margin-right: 16px;
}

.home_main_transactions_filterBtn > span {
  margin-right: 118px;
}

.home_main_transactions_filterBtn_icon {
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  transform: rotate(180deg);
  position: relative;
}

.home_main_transactions_filterBtn_icon_active {
  transform: rotate(360deg);
}

.home_main_transactions_filterBtn_icon_date_modal {
  /* width: 200px;
  height: 150px; */
  background-color: white;
  position: absolute;
  z-index: 10;
  border-radius: 8.91px;
  box-shadow: 0px 10px 60px 0px #0000001a;
  padding: 8px 4px;
  top: 50px;
  right: 0;
}

.home_main_transactions_filterBtn_icon_date_modal_btn {
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 7px 16px;
  width: 245px;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23999999463558197px;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 2px;
}

.home_main_transactions_filterBtn_icon_date_modal_btn_active {
  background-color: #ede7f3;
}

.home_main_transactions_filterBtn_icon_date_modal_btn_icon {
  display: none;
}

.home_main_transactions_filterBtn_icon_date_modal_btn_icon_active {
  display: flex;
}

.home_main_transactions_filterBtn_icon_date_modal_line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #eeeeee;
}

.home_main_transactions_filterBtn_icon_date_modal_date {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;
  width: 245px;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23999999463558197px;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 8px;
}

.home_main_transactions_filterBtn_icon_date_modal_btns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0 16px;

  width: 245px;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23999999463558197px;
  border-radius: 5px;
  background-color: transparent;
  margin-top: 8px;
}

.home_main_transactions_filterBtn_icon_date_modal_btns > button {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
}

.home_main_transactions_filterBtn_icon_date_modal_btns > button:first-child {
  color: #956fb9;
  background-color: transparent;
}
/* .home_main_account_items{
    overflow-y: scroll;
} */
.home_main_account_items_item {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;

  /* align-items: center; */
  border-bottom: 1px solid #eeeeee;
}

.home_main_account_items_item h3,
.home_main_account_items_item p {
  margin: 0;
}

.home_main_account_items_item_left {
  display: flex;
}

.home_main_account_items_item_left > div {
  margin-left: 15px;
}

.home_main_account_items_item_left > div > p {
  color: #777373;
}

.home_main_account_items_item h3 {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
}

.home_main_account_items_item p {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
}

.home_main_account_items_item_right > span {
  font-family: Manrope;
  font-size: 11px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0.06599999964237213px;
  color: #777373;
}

.home_main_account_items_item_right {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #342c2c;
}

.home_main_account_items_item_documents_status {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  position: relative;
  margin: 0;
}

.home_main_account_items_item_documents_status::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #f6a609;
  border-radius: 50%;
  position: absolute;
  /* top: 10px; */
  top: calc(50% - 2px);
  left: -10px;
}

.home_main_transactions_table_date {
  width: 100%;
  background-color: #eeeeee;
  padding: 5px 30px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.home_main_transactions_table_date > p {
  margin: 0;
  font-size: 11px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0.06599999964237213px;
}

.home_main_transactions_table_item {
  padding: 12px 30px;
  display: flex;
  gap: 15px;
  border-bottom: 1px solid #eeeeee;
}

.home_main_transactions_table_item_left {
  display: flex;
}

.home_main_transactions_table_item_left > div {
  margin-right: 17px;
}

.home_main_transactions_table_item_left h4 {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.06599999964237213px;
}

.home_main_transactions_table_item_left p {
  font-size: 11px;
  /* font-weight: 600; */
  line-height: 13px;
  letter-spacing: 0.06599999964237213px;
  color: #a5a1a1;
}

.home_main_transactions_table_item_right {
  flex-grow: 1;
}

.home_main_transactions_table_item_right h5 {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
}

.home_main_transactions_table_item_right p {
  font-size: 13px;
  font-weight: 200;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #777373;
}

.home_main_transactions_table_item_right h4 {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
}

.home_main_transactions_table_item_right h4 > span {
  color: #777373;
}

.home_main_transactions_table_item_right > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home_main_transactions_table_item_right_status {
  /* font-weight: 500; */
  position: relative;
}

.home_main_transactions_table_item_right_status::before {
  content: "";
  width: 5px;
  height: 5px;
  background: #1ab759;
  position: absolute;
  top: calc(50% - 3px);
  border-radius: 50%;
  left: -10px;
}

.home_main_transactions_table_item_right > h3 {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.07800000160932541px;
  color: #777373;
}

.home_main_transactions_table_item_right_amount {
  color: #1ab759;
  font-weight: 500 !important;
}

@media screen and (max-width: 1500px) {
  .home_main {
    gap: 15px;
    height: fit-content;
  }

  .home_main_left {
    gap: 15px;
    grid-template-rows: 62.4% 31.7%;
  }
}
